* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Lekton", monospace; */
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.header {
    max-width: 1119px;
    margin: 0px auto;
    padding: 20px 0px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
}

.nav-elements a {
    margin-right: 46px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.nav-logo h1 {
    font-family: "Lekton", monospace;
    font-weight: bold;
    font-size: 34px;
}

.main-text {
    text-align: center;
    margin-top: 143px;
}

.main-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}

.main-text p {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    font-size: 18px;
    color: white;
    line-height: 1.6;
}

span {
    display: inline-block;
    background-color: #231A36;
    padding: 20px 50px;
    margin-top: 90px;
    border-radius: 50PX;
    text-align: center;
    color: white;
}

span a {
    color: white;
    font-size: 20px;
}
span i{
    font-size: 20px;
}
.clients-details {
    text-align: center;
    margin: 70px 0px;
}

.clients-details h2 {
    font-size: 16px;
    color: #B2B7BE;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.clients-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    align-items: center;
    gap: 20px;
}

.main-header{
    background-color: #EBEBEB;
}
.body-content {
    text-align: center;
    margin-top: 20px;
}
.body-content h2{
     font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.body-content p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.7; */
}
.content-box-main{
    margin-top: 85px;
}
.content-box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-box-left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.content-box-left h4{
    text-transform: uppercase;
    color: #414141;
    letter-spacing: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.content-box-left h2{
    color: #1B1BEB;
    font-family:"Poppins", sans-serif ;
    font-size: 30px;
}
.content-box-left p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    text-align: start;
}
.content-box-left a,
.content-box-left i{
    color: #42424A;
    margin-right: 10px;
}
.button{
    text-align: start;
    margin-top: 10px;
}
.main-content{
background-color: #231A36;
padding: 30px;
}
.header-1{
     max-width: 1119px;
    margin: 0px auto; 
    color: white;
    
}
.media-profile{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
    
}
.header-2 h2{
    text-align: center;
    margin-top: 20px;
}
.header-2{
    margin-top: 50px;
}
.header-2 h2{
    font-size: 40px;
    font-family: "Poppins", sans-serif ;
}
.header-2 p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #7B9292;
}
.media-profile-1 h1{
    font-family: "Poppins", sans-serif ;
    font-size: 40px;
}
.media-profile-1 p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: #7B9292;
}
.media-profile-1{
    margin-top: 20px;
}
.clients{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 20px;
    
} 
 .clients img{
    width: 50px;
    margin-bottom: 30px;
}
.clients h3{
    font-family: "Poppins", sans-serif ;
    font-size: 40px;
}
.para{
    font-size: 16px;
    text-align: center;
    color: #426666;
    line-height: 1.7;
}
.ceo-message{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    column-gap: 10px;
}
.message p{
    color: #6D6D6D;
    font-family: "Inter", sans-serif;
    line-height: 1.8;
    font-size: 22px;
}
.ceo-name{
    margin-top: 30px;
}
.ceo-name p{
    font-family:"Inter", sans-serif ;
    color:#6D6D6D ;
    font-size: 14px;
}
.news-letter{
    background-image:url(bg.jpg) ;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
    text-align: center;
    border-radius: 10px;

}
.news-letter-wrapper{
        display: flex;
    flex-direction: column;
    gap: 20px;
}
.news-letter-wrapper h2{
    font-size: 40px;
    font-family:"Poppins", sans-serif ;
    color: white;
    font-weight: 500;
}
.news-letter-wrapper p{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: white;
    opacity: 0.7;
}
.news-letter-wrapper a{
    background-color: black;
    font-family: "Inter" , sans-serif;
    font-size: 14px;
    align-self: center;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin-top: 30px;
}
.elements,
.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.elements a{
    color: black;
}
.copy{
    text-align: center;
    margin-top: 50px;
    color: #42424A;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;

}
.copy p{
    margin-top: 50px;
}

/* Media Queries */
@media screen and (max-width:600px) {
    section {
    width: 100%;
    min-height: 100dvh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;  
 
}
.header {
    max-width:600px;
    margin: 0px auto;
    padding: 10px 0px;
}
    .nav{
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 40px;
      
    }
    .nav-logo h1 {
    font-family: "Lekton", monospace;
    font-weight: bold;
    font-size: 60px;
}
.nav-elements a {
    margin-right: 46px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
   .main-text {
    text-align: center;
    margin-top: 60px;
}
.main-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}
.main-text p {
    font-family: "Inter", sans-serif;
    margin-top: 60px;
    font-size: 20px;
    color: white;
    line-height: 1.6;
}
span {
    display: inline-block;
    background-color: #231A36;
    padding: 10px 20px;
    margin-top: 60px;
    border-radius: 50PX;
    text-align: center;
    color: white;
}

span a {
    color: white;
    font-size: 25px;
}
span i{
    font-size: 25px;
    margin-left: 10px;
}

.clients-logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.content-box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    padding: 0px 0px;
    margin-bottom: 10px;
}
.content-box-right img{
    margin-top: 10px;
    padding: 20px 0px;
}
.content-box-left p{
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 10px;
}
.ceo-message{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    column-gap: 10px;
    flex-direction: column-reverse;
    margin-top: 20px;
}
.message,
.message-img{
    margin-top: 20px;
}
.ceo-name{
    text-align: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
}
.media-profile{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    
}
.copy{
    padding: 30px 0px;
}
}