* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Lekton", monospace; */
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    max-width: 1119px;
    margin: 0px auto;
    padding: 20px 0px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
}

.nav-elements a {
    margin-right: 46px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.nav-logo h1 {
    font-family: "Lekton", monospace;
    font-weight: bold;
    font-size: 34px;
}

.main-text {
    text-align: center;
    margin-top: 143px;
}

.main-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}

.main-text p {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    font-size: 18px;
    color: white;
    line-height: 1.6;
}

span {
    display: inline-block;
    background-color: #231A36;
    padding: 20px 50px;
    margin-top: 90px;
    border-radius: 50PX;
    text-align: center;
    color: white;
}

span a {
    color: white;
    font-size: 20px;
}
span i{
    font-size: 20px;
}
.clients-details {
    text-align: center;
    margin: 70px 0px;
}

.clients-details h2 {
    font-size: 16px;
    color: #B2B7BE;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.clients-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    align-items: center;
    gap: 20px;
}
.main-header{
    background-color: #EBEBEB;
}
.body-content {
    text-align: center;
    margin-top: 20px;
}
.body-content h2{
     font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.body-content p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.7; */
}
.content-box-main{
    margin-top: 85px;
}
.content-box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.content-box-left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.content-box-left h4{
    text-transform: uppercase;
    color: #414141;
    letter-spacing: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.content-box-left h2{
    color: #1B1BEB;
    font-family:"Poppins", sans-serif ;
    font-size: 30px;
}
.content-box-left p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    text-align: start;
}
.content-box-left a,
.content-box-left i{
    color: #42424A;
    margin-right: 10px;
}
.button{
    text-align: start;
    margin-top: 10px;
}
.main-content{
background-color: #231A36;
padding: 30px;
}
.header-1{
     max-width: 1119px;
    margin: 0px auto; 
    color: white;
    
}
.media-profile{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    column-gap: 30px;
}
.header-2 h2{
    text-align: center;
    margin-top: 20px;
}
.header-2{
    margin-top: 50px;
}
.header-2 h2{
    font-size: 40px;
    font-family: "Poppins", sans-serif ;
}
.header-2 p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #7B9292;
}
.media-profile-1 h1{
    font-family: "Poppins", sans-serif ;
    font-size: 40px;
}
.media-profile-1 p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: #7B9292;
}
.media-profile-1{
    margin-top: 20px;
}